body {
    background-color: #265E7F;
}

.top-bar {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.main {
    margin-top: 36px;
    padding: 25px 15px 15px 15px
}

.wrap {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

.article {
    background: #fefefe;
    border: 1px solid #8a8a8a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 1rem 1rem 0 0;
    padding: 5px;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 0;
    width: 90%;
    float: left;
}

.article-card:hover {
    cursor: pointer;
    background: #e6e6e6;
}

.article-full {
    padding: 30px;
}

.article-full p{
    margin-left: 15px;
}

.button:active {
    background-color: #fefefe;
    color: #1779ba
}
