<div ng-controller="articleController as vm">
    <h2>{{vm.title}}</h2>
    <pre ng-if="vm.dataLoading">Loading articles...</pre>
    <pre ng-if="vm.errorMessage">{{vm.errorMessage}}</pre>
    <div ng-if="!vm.dataLoading && !vm.errorMessage" class="grid-x grid-margin-x">
        <div class="small-12 medium-6 large-4 cell" ng-repeat="article in vm.articles">
            <div class="article article-card" ng-click="vm.popupArticle(article.ArticleId)">
                <h3>{{article.Title}}</h3>
                <p>{{article.Description}}</p>
                <p ng-show="article.Author">Author: {{article.Author}}</p>
                <p ng-show="article.PublishDate">{{article.PublishDate}}</p>
                <p ng-show="article.Link">{{article.Link}}</p>
                <p ng-show="article.Category">Category: {{article.Category}}</p>
            </div>
        </div>
    </div>
</div>
